@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #343a40;
}

.navbar
{
    font-family: 'Rubik', sans-serif;
    background-image:linear-gradient( rgba(0, 0, 0, 0.548), rgba(0, 0, 0, 0.432)), url(../images/footer-background.jpg);
    padding: 8px 16px;   
}




.sub-nav
{
    font-family: 'Rubik', sans-serif;
}

.bg-sub-nav
{
    background-color: grey;
    padding: 0 16px;
}

.card
{
    background-color: grey;
    width: 200px;
   transition: 0.2s linear;
   cursor: pointer;
}
.card:hover{
    background-color: rgba(128, 128, 128, 0.611);
}
.songItem
{
    color: black;
    width: 90%;
    background-color: white;
    height: auto;
    border-radius: 15px;
    justify-content: space-between;
    display: flex;
    margin: 8px 0 8px 20px;
    padding: 2px 8px;
    align-items: center;

}

.songItem>img
{
    width: 25px;
    border-radius: 50%;
}



.left-side-div
{
    height: 76vh;
    background-color:#343a40;
    width: 30%;
    display: flex;
    flex-direction: column;
    font-family: 'Ubuntu', sans-serif;
    
    

    
}

.active2
{
    color: white;
    background-color: #343a40;
    border-radius: 15px 15px 0 0;
}

.bottom-div
{
    height: 100px;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-image:linear-gradient( rgba(0, 0, 0, 0.938), rgba(0, 0, 0, 0.336)), url(../images/footer-background.jpg);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-family: 'Rubik', sans-serif;
    
}

.play-icons>i
{
    margin: 0 4px;
}
.fa
{
    cursor: pointer;
}



#myProgressBar
{
    width: 90%;
    cursor: pointer;
    margin: 8px 0;
}

.songinfo
{
    position: absolute;
    left: 5vw;
    font-size: 18px;
}

.songinfo>img
{
    width: 50px;
    opacity: 0;
    transition: opacity 1s ease-in;
}


.right-side-div
{
    height: 76vh;
    background-color: #343a40;
    width: 70%;
    overflow: scroll;
    font-family: 'Ubuntu', sans-serif;
}
.right-side-div::-webkit-scrollbar
{
    display: none;
}
li a:hover{
    
    border-bottom: 5px solid #ffffff;
}